
.part3Footer {
    
    
    height: 60px;
    font-family: 'Pacifico', cursive;
    color: bisque;
    background: black;
}

.part4 {
    height: 90px;
    background: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 45px;
    color: chocolate;
    
  
}

.nav1 {
    background: black;
    border: 0;

}
.navChange2 {
    background: black;
    border-color: chocolate;
    border-radius: 0 !important;
    color: chocolate;

}

.bheader {
    color: crimson;
    font-size: 15px;
    font-family: 'Pacifico', cursive;

}
.bfont {
    font-size: 56px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}


.bfont3 {
    color: chocolate;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
.div2cus {
    background: black;

}
.list-group-item.active {
    background: black;
    border-color: black;
}

.navbar-inverse .navbar-nav li a:hover {
    color: black;
background-color: white;
}
.postTopic1 {

    padding: 20px;
    border-radius:  20px;
    background: white;
}



body {
    background: chocolate;
}
.butto {
    width: 700px;
    height: 60px;

}
.topicArticle {
    
   
}
.topicArticle a {
    font-family: 'Raleway', sans-serif;
    color: cadetblue;
}

.topicArticle h2 {
    font-family: 'Open Sans', sans-serif;
    color: brown;
}
.topicArticle h4 {

    font-family: 'Arvo', serif;
    color: black;
    
}


.topicArticle h3 {
    font-family: 'Courgette', cursive;
    color: black;

}
.topicArticle h5 {
    
    font-family: 'Architects Daughter', cursive;
    color: black;
}

.commentDIV {
    background: cadetblue;
    border-radius:  20px;
    padding: 5px;

}



.butto1 {
    width: 100px;
    height: 40px;

}